<form id="create-poll" action="submit-poll" method="POST">
	<label for="poll">Poll</label>
	<input value="<%= data.poll !== undefined ? data.poll : '' %>" type="text" id="poll" name="poll" required>
	<% if(data.options) { %>
	<% data.options.forEach((option) => { %>
		<label for="<%= option.id %>"><%= option.name %></label>
		<input type="text" id="<%= option.id %>" name="options" value="<%= option.value %>">
	<% }) %>
	<% } %>
	<button type="submit" id="add-answer" formaction="create-poll" value="add" name="addOrRemove">
		Add answer
	</button>
	<button type="submit" id="remove-answer" formaction="create-poll" value="remove" name="addOrRemove">
		Remove answer
	</button>
	<button id="submit" type="submit">Create Poll</button>
</form>